* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: hsl(240, 14%, 7%);
    --color-background-elevated: hsl(from var(--color-background) h s calc(l + 7));
    --color-text: hsl(from var(--color-background) h s 91%);
    --color-text-muted: hsl(from var(--color-background) h s 84% / .84);
    --color-accent: hsl(90 96% 72%);
    --wrapper-width: 90rem;
    --spacing: 1.5rem;
    --border-radius: calc(var(--spacing) / 2);
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
}

::selection {
    background: var(--color-accent);
    color: var(--color-background);
}

:focus-visible {
    outline: .125rem solid var(--color-accent);
}

body {
    background: var(--color-background);
    color: var(--color-text-muted);
    font-family: "Momo Trust Sans", sans-serif;
    line-height: 1.8;
    margin-block-end: var(--spacing);
}

:where(h1, h2, h3, b) {
    color: var(--color-text);
}

a {
    color: var(--color-accent);
    text-decoration-thickness: .125rem;
    text-underline-offset: .25rem;

    &:not(:hover) {
        text-decoration: none;
    }
}

.wrapper {
    width: min(var(--wrapper-width), 100% - var(--spacing) * 2);
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: var(--spacing);
    
    &.layout-column-3 {
        grid-template-columns: repeat(auto-fill, minmax(min(var(--wrapper-width) / 4, 100%), 1fr));
    }

    &.layout-blog {
        @media (width > 72rem) {
            grid-template-columns: 60% 1fr;
            align-items: start;
        }
    }
}

.flex {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing);

    & .fg-1 {
        flex-grow: 1;
    }

    &.ai-b {
        align-items: baseline;
    }

    &.ai-c {
        align-items: center;
    }

    &.jc-sb {
        justify-content: space-between;
    }
}

:where(input, textarea, button) {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: calc(var(--spacing) / 2);
    border: none;
    border-radius: calc(var(--border-radius) / 2);
}

:where(input, textarea) {
    background: var(--color-background);
    color: inherit;
}

textarea {
    min-height: 1lh;
    height: 1lh;
    resize: vertical;
    box-sizing: content-box;
}

button {
    height: fit-content;
    background: var(--color-accent);
    color: var(--color-background);
    cursor: pointer;

    &:is(:hover, :focus-visible) {
        background: hsl(from var(--color-accent) h s l / .9);
        outline-color: transparent;
    }
}

header {
    background: hsl(from var(--color-background-elevated) h s l / .9);
    backdrop-filter: blur(1rem);
    padding-block: calc(var(--spacing) / 2);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    position: sticky;
    top: 0;
    z-index: 1;

    & .wrapper {
        justify-content: space-between;
        align-items: center;
    }
}

.card {
    align-content: space-between;
    background: var(--color-background-elevated);
    padding: var(--spacing);
    border-radius: var(--border-radius);
    overflow: hidden;

    & img {
        max-width: 100%;
        border-radius: calc(var(--border-radius) / 2);

        &.full-width {
            width: calc(100% + var(--spacing) * 2);
            max-width: unset;
            max-height: 36rem;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            margin: calc(var(--spacing) * -1) calc(var(--spacing) * -1) 0 calc(var(--spacing) * -1);
            border-radius: 0;
        }

        &.circle {
            border-radius: 50%;
        }
    }

    &.form {
        width: min(calc(var(--wrapper-width) / 3), 100%);
        margin-inline: auto;
    }
}

#comments-container {
    max-height: 36rem;
    padding-right: calc(var(--spacing) / 2);
    border-radius: calc(var(--border-radius) / 2);
    overflow-y: scroll;

    & > section {
        background: hsl(from var(--color-accent) h s l / .08);
        border-left: calc(var(--border-radius) / 2) solid var(--color-accent);
        padding: var(--spacing);
        border-radius: calc(var(--border-radius) / 2);

        & img {
            width: 4rem;
        }

        & span {
            font-size: .8em;
        }
    }
}