* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-background: hsl(240, 14%, 7%);
    --color-background-elevated: hsl(from var(--color-background) h s calc(l + 7));
    --color-text: hsl(from var(--color-background) h s 91%);
    --color-text-muted: hsl(from var(--color-background) h s 84% / .84);
    --color-accent: hsl(90 96% 72%);
    --wrapper-width: 90rem;
    --spacing: 1.25rem;
    --border-radius: calc(var(--spacing) / 2);
    scrollbar-width: thin;
    scrollbar-color: var(--color-accent) transparent;
}

::selection {
    background: var(--color-accent);
    color: var(--color-background);
}

body {
    background: var(--color-background);
    color: var(--color-text-muted);
    font-family: "Momo Trust Sans", sans-serif;
    line-height: 1.8;

    & > :last-child {
        margin-bottom: var(--spacing);
    }
}

:where(h1, h2, h3) {
    color: var(--color-text);
}

a {
    
    font-weight: 500;
    text-decoration-thickness: .125rem;
    text-underline-offset: .25rem;

    &:not(.button) {
        color: var(--color-accent);
    }

    &:not(:hover) {
        text-decoration: none;
    }
}

.wrapper {
    width: min(var(--wrapper-width), 100% - var(--spacing) * 2);
    margin-inline: auto;
}

.grid {
    display: grid;
    gap: var(--spacing);
    align-content: start;

    &.layout-column-3 {
        grid-template-columns: repeat(auto-fill, minmax(min(var(--wrapper-width) / 4, 100%), 1fr));
    }

    &.layout-blog {
        @media (width > 54rem) {
            grid-template-columns: 18rem 1fr;

            & nav {
                position: sticky;
                top: calc(4.85rem + ((var(--spacing) / 2) * 2));
            }
        }
    }

    &.layout-comment {
        grid-template: auto / 3.5rem 1fr;
        gap: var(--spacing);
        align-items: center;

        & p {
            grid-column: span 2;
        }

        @media (width > 32rem) {
            gap: 0 var(--spacing);
            align-items: start;

            & p {
                grid-column: span 1 / -1;
            }
        }
    }
}

header {
    background: hsl(from var(--color-background-elevated) h s l / .9);
    backdrop-filter: blur(1rem);
    padding-block: calc(var(--spacing) / 2);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    position: sticky;
    top: 0;
    z-index: 10;

    & .wrapper {
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing);
        justify-content: space-between;
        align-items: center;
    }
}

.card {
    align-content: space-between;
    background: var(--color-background-elevated);
    padding: var(--spacing);
    border-radius: var(--border-radius);

    & > :first-child:is(img) {
        width: calc(100% + var(--spacing) * 2);
        margin: calc(var(--spacing) * -1) calc(var(--spacing) * -1) 0 calc(var(--spacing) * -1);
        object-fit: cover;
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        &.aspect-ratio-16_9 {
            aspect-ratio: 16 / 9;
        }

        &.aspect-ratio-21_9 {
            aspect-ratio: 21 / 9;
        }
    }

    & :not(:first-child) img {
        display: block;
        max-width: 100%;
        border-radius: 50%;
    }

    & :last-child:is(a) {
        width: fit-content;
    }

    &:has(form) {
        width: min(calc(var(--wrapper-width) / 3), 100%);
        margin-inline: auto;
    }

    &.comments > * {
        padding-right: var(--spacing);
    }
}

:where(input, button, .button) {
    font-family: inherit;
    font-weight: 500;
    text-decoration: none;
    padding: calc(var(--spacing) / 2);
    border: none;
    border-radius: calc(var(--border-radius) / 2);
}

input {
    background: var(--color-background);
    color: var(--color-text-muted);
}

:where(button, .button) {
    background: var(--color-accent);
    color: var(--color-background);

    &:hover {
        background: hsl(from var(--color-accent) h s l / .9);
        cursor: pointer;
    }
}

button.a {
    all: revert;
    background: none;
    color: var(--color-accent);
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    border: none;

    &:hover {
        text-decoration: underline;
        text-underline-offset: .25rem;
        text-decoration-thickness: .125rem;
        cursor: pointer;
    }
}

li {
    margin-left: var(--spacing);
}